<!DOCTYPE html>
<html ng-app="jiratime">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <section ng-controller="MainCtrl as vm">
    <h3>Jira Time</h3>

    <div>
      <label>Jira Domain:</label>
      <input type="text" ng-model="vm.domain"/>
      <label>Filter:</label>
      <input type="text" ng-model="vm.filterNumber"/>
    </div>
    <br>
    <div>
      <label>User id:</label>
      <input type="text" ng-model="vm.userId"/>
      <label>Password:</label>
      <input type="password" ng-model="vm.password"/>
    </div>
    <div>
      <input type="checkbox" ng-model="vm.remember">
      <label>Remember me</label>
    </div>
    <br>
    <div>
      <label>Offset:</label>
      <span ng-repeat="o in vm.offsets">
        <input type="radio" name="offset" value="{{o}}" ng-model="vm.offset"/>
        {{o}}
      </span>
    </div>
    <div>
      <label>Scale:</label>
      <span ng-repeat="s in vm.scales">
        <input type="radio" name="scale" value="{{s}}" ng-model="vm.scale"/>
        {{s}}
      </span>
    </div>
    <br>
    <div>
      <input type="checkbox" ng-model="vm.onlyMine"/>
      <label>Show only my time</label>
    </div>
    <br>
    <button ng-click="vm.submit()">Get time</button><br>
    <hr>

    <span ng-show="vm.secondsByAuthor">
      <span style="text-transform:capitalize">{{vm.offset}}</span> {{vm.scale}}
      {{vm.offset == "current" ? "has" : "had"}}
      {{(vm.totalSeconds/3600).toFixed(2)}} hours logged.
    </span>
    <div ng-repeat="(author, seconds) in vm.secondsByAuthor">
    <h2>{{author}} logged {{(seconds/3600.0).toFixed(2)}} hours</h2><br>
    <table>
      <thead>
        <tr>
          <th>Ticket</th>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody ng-init="orderByField='started'">
        <tr ng-repeat="log in vm.work[author] |orderBy:orderByField">
          <td>
            <a href="{{log.ticketLink}}" 
               title="{{log.ticketSummary}}">
              {{log.key}}
            </a>
          </td>
          <td>{{log.uiStart | date : 'EEE HH:mm'}}</td>
          <td>{{log.uiEnd | date : 'HH:mm'}}</td>
          <td>{{log.timeSpent}}</td>
          <td>{{log.comment}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <span>{{vm.message}}</span>
  </section>
</body>

</html>
