<!DOCTYPE html>
<html ng-app="jiratime">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
  <script src="app.js"></script>
  <style>
    td,th {
    border-style:solid;
    border-width:thin;
    padding-left:1em;
    padding-right:1em;
    }
    table {
    border-collapse: collapse;
    }
  </style>
</head>

<body>
  <section ng-controller="MainCtrl as vm">
    <h3>JIRA Time</h3>

    <div>
      <label>JIRA Domain:</label>
      <input type="text" ng-model="vm.domain"/>
    </div>
    <div>
      <label>Filter:</label>
      <input type="text" ng-model="vm.filterNumber"/>
    </div>
    <div>
      <label>User id:</label>
      <input type="text" ng-model="vm.userId"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" ng-model="vm.password"/>
    </div>
    <div>
      <input type="checkbox" ng-model="vm.remember">
      <label>Remember me</label>
    </div>
    <button ng-click="vm.submit()">Get time</button><br>
    <hr>

    <span>Total: {{vm.totalHours}}</span><br>

    <table>
      <thead>
	<tr>
	  <th>Ticket</th>
	  <th>Start</th>
	  <th>End</th>
	  <th>Duration</th>
	  <th>Comment</th>
	</tr>
      </thead>
      <tbody ng-init="orderByField='started'">
	<tr ng-repeat="log in vm.work |orderBy:orderByField">
	  <td><a href="{{rootUrl}}/browse/{{log.key}}/worklog">{{log.key}}</a></td>
	  <td>{{log.uiStart | date : 'HH:mm'}}</td>
	  <td>{{log.uiEnd | date : 'HH:mm'}}</td>
	  <td>{{log.timeSpent}}</td>
	  <td>{{log.comment}}</td>
	</tr>
      </tbody>
    </table>

    <span>{{vm.message}}</span>
  </section>
</body>

</html>
