.timeCard td,th {
    border-style:solid;
    border-width:thin;
    padding-left:1em;
    padding-right:1em;
}

.ticketKey, .workStart {
    white-space: nowrap;
}

table.timeCard {
    border-collapse: collapse;
}
