<!DOCTYPE html>
<html ng-app="jiraworkload">

<head>
  <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
  <script src="workload.js"></script>
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="node_modules/chartjs-plugin-annotation/chartjs-plugin-annotation.min.js"></script>
  <style>
    td,th {
    border-style:solid;
    border-width:thin;
    padding-left:1em;
    padding-right:1em;
    }
    table {
    border-collapse: collapse;
    }
  </style>
</head>

<body>
  <section ng-controller="MainCtrl as vm">

    <h1 ng-init="showCriteria=true" ng-click="showCriteria = ! showCriteria">
      Jira Workload
    </h1>

    <div ng-show="showCriteria">
    <div>
      <label>Jira Domain:</label>
      <input type="text" ng-model="vm.domain"/>
    </div>
    <br>
    <div>
      <label>User id:</label>
      <input type="text" ng-model="vm.userId"/>
      <label>Password:</label>
      <input type="password" ng-model="vm.password"/>
    </div>
    <div>
      <input type="checkbox" ng-model="vm.remember">
      <label>Remember me</label>
    </div>
    <br>
    <div>
      <label>Query type:</label>
      <span ng-repeat="t in vm.queryTypes">
        <input type="radio" name="query" value="{{t}}" ng-model="vm.queryType"/>
        <span style="text-transform:capitalize">{{t}}</span>
      </span>
      <br>
      <input type="text" style="width:45em" ng-model="vm.queryText"/>
    </div>
    <br>
    <div>
      <label>Default estimate:</label>
      <input type="number" ng-model="vm.defaultEstimateHours"/>
      hours
    </div>
    <div>
      <label>Availability:</label>
      <input type="number" ng-model="vm.availableHours"/>
      hours per day
    </div>
    <div>
      <label>Days remaining:</label>
      <input type="number" ng-model="vm.daysRemaining"/>
    </div>
    <br>
    </div>
    <button ng-click="vm.submit()">Get estimates</button><br>
    <hr>

    <canvas id="bar"
	    class="chart chart-bar"
            chart-data="vm.workHours"
            chart-labels="vm.assigneeNames"
            chart-click="vm.onChartClick"
            chart-options="vm.chartOptions">
    </canvas>
    <span>{{vm.message}}</span>
  </section>
</body>

</html>
